* {
  margin:0;
  padding:0;
}

.intro-container {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.introduction {
  font-size: 1.5em;
  margin-bottom: 22vh;
  padding: 0 40px;
  max-width: 800px;
}

.google-blue {color: #4285F4;}
.google-red {color: #EA4335;}
.google-yellow {color: #FBBC05;}
.google-green {color: #34A853;}

h1 {
  font-family: 'Song Myung', serif;
}

.header-container {
  visibility: hidden;
  text-align: center;
}

.project {
  height: calc(100vh + 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-text h2 {
  font-size: 3em;
  color: white;
}

.project-text__description {
  width: 400px;
  color: white;
}

.project-link {
  text-decoration: none;
}

.project-button {
  background-color: white;
  width: 200px;
  border-radius: 50px;
  padding: 20px 30px;
  margin: 17px 0;
  text-align: center;
  white-space: nowrap;
  font-weight: 500;
  color: #555555;
  letter-spacing: 1.5px;
  transition-duration: .9s;
}

.project-button:hover {
  transition-duration: .9s;
  background-color: #DADADA;
}

#pillar {
  background-image: url("/images/pillar/uw-columns.jpg");
  background-size: cover;
  background-position: center;
  background-color: #FF5785;
}

#phrasebot {
  background-color: #FF5733;
}

#arque {
  background-color: #1155CC;
}

.all-projects-button {
  color: white;
  background-color: black;
  margin: 50px auto;
  transition-duration: .9s;
}

.all-projects-button:hover {
  transition-duration: .9s;
  background-color: #777777;
}
