p, h1, h2, h3, h4, h5, h6, ul {
  max-width: 700px;
  margin: auto;
}

h2 {
  margin-top: 20px;
}

h3 {
  margin-top: 15px;
}

p {
  margin-top: 5px;
}

ul {
  list-style-position: inside;
  padding-left: 5px;
}

figure {
  display: table;
  white-space: nowrap;
  max-width: 1000px;
  margin: 30px auto;
}

figcaption {
  display: table-row;
  text-align: center;
}

.project-image {
  /* vertical-align: middle; */
  padding: 13px;
  display: table-cell;
}

.project-image img {
  max-width: 100%;
  max-height: 100vh;
}

.project-image__group {
  display: flex;
  justify-content: center;
}